body {
    
    background: url("img.jpg") center/cover no-repeat  fixed;


}

.ggg {
    color:rgb(255, 0, 128);
    text-align: center;
    font-size: 42px;
    border: solid 3px rgb(15, 22, 117);
    background-color: aqua;
}

.str {
    width: 100%;
    height: 20%;
    text-align: center;
    border: solid 0px;
    color:rgb(0, 0, 0);
    font-size: 28px;
    border:solid 0px rgb(255, 255, 255);
}

.ccc {
    width: 100%;
    height: 20%;
    text-align: center;
}

.hhh {
    text-align: center;
    border: solid 3px rgb(84, 219, 129);
    font-size: 26px;
}

.res {
    text-align: center;
    border: solid 2px rgb(84, 219, 129);
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.resu {
    text-align: center;
    font-size: 26px;
    color:aquamarine;
    border: solid 1px rgb(84, 219, 129);
}

.luck {
    text-align: center;
    font-size: 26px;
    color:aquamarine;
    border: solid 1px rgb(84, 219, 129);
    background-color: blueviolet;
}